<main class="container-home">
    <section class="container-anuncio">
        <div class="set-1">
            <div class="set-nova-linha">
                <p>Nova Linha 2026</p>
            </div>
            <h1 class="text-white-info">Monte o <span class="text-purple">setup</span><br>dos seus sonhos</h1>
            <p class="text-info">Placas de video, processadores, teclados e monitores das<br>melhores marcas, com ate
                20% de desconto e frete <br> rapido.</p>

            <div class="set-btn">
                <a routerLink="/produtos" class="btn-purple">Ver ofertas</a>
                <a routerLink="/montarPC" class="btn-black">Montar meu PC</a>
            </div>
            <div class="set-info">
                <h3 class="span-text">+2.000<br><span class="text-prdt">produtos</span></h3>
                <h3 class="span-text">12x<br><span class="text-prdt">sem juros</span></h3>
                <h3 class="span-text">24h<br><span class="text-prdt">envio</span></h3>
            </div>
        </div>

        <div class="set-2">
            <img src="images/computador.svg">
        </div>
    </section>

    <section class="container-categorias">
        <div class="set-categorias">
            <h2>Categorias</h2>
        </div>

        <div class="set-content">
            <div class="card-categorias">
                <a>
                <img src="images/cpu.svg">
                <span>Processadores</span>
                </a>
            </div>
            <div class="card-categorias">
                <a>
                    <img src="images/teclado.svg" alt="">
                    <span>Teclado</span>
                </a>
            </div>
            <div class="card-categorias">
                <a>
                    <img src="images/headset.svg">
                    <span>Headsets</span>
                </a>


            </div>
            <div class="card-categorias">
                <a>
                    <img src="images/monitor.svg">
                    <span>Monitores</span>
                </a>
            </div>
            <div class="card-categorias">
                <a>
                    <img src="images/mouse.svg">
                    <span>Mouse</span>
                </a>
            </div>
            <div class="card-categorias">
                <a>
                    <img src="images/gpu.svg">
                    <span>Placas de Video</span>
                </a>
            </div>
        </div>
    </section>

    <section class="container-prdt">
        <div class="set-prdt">
            <h2>Produtos em destaque</h2>
        </div>

        <div class="set-content">
            <a routerLink="" class="set-card">
                <img src="images/rtx-4060.png" alt="">
                <p>Placa de video RTX 4060 8GB<br><span>R$ 2.199,00</span></p>
                <a routerLink="">Adicionar ao carrinho</a>
            </a>
            <a routerLink="" class="set-card">
                <img src="images/teclado-rgb.png" alt="">
                <p>Teclado mecanico RGB<br><span>R$ 349,00</span></p>
                <a routerLink="">Adicionar ao carrinho</a>
            </a>
            <a routerLink="" class="set-card">
                <img src="images/mouse-gamer.png" alt="">
                <p>Mouse gamer 16000 DPI<br><span>R$ 189,90</span></p>
                <a routerLink="">Adicionar ao carrinho</a>
            </a>
            <a routerLink="" class="set-card">
                <img src="images/monitor-165hz.png" alt="">
                <p>Monitor 27" 165Hz<br><span>R$ 1.299,00</span></p>
                <a routerLink="" class="set-adic">Adicionar ao carrinho</a>
            </a>
            <a routerLink="" class="set-card">
                <img src="images/headset-sem-fio.png" alt="">
                <p>Headset sem fio 7.1<br><span>R$ 429,00</span></p>
                <a routerLink="">Adicionar ao carrinho</a>
            </a>
        </div>
    </section>
</main>