.formulario {
  width: 420px;
}

.formulario .botao {
  width: 100%;
}

.depois {
  margin-top: 18px;
  font-size: 14px;
  color: #55534b;
}

@media (max-width: 800px) {
  .formulario {
    width: 100%;
  }
}