<header class="topo">
  <div class="top">
    <div class="part-esq">
      <a routerLink="/"><img src="images/logo-hero-bay.png">Hero bay</a>
      <input class="busca" type="text" placeholder="Buscar placa de videos, teclados, monitores e muito mais...">
    </div>
    @if (!usuario()) {
    <nav>
      <a routerLink="/login">Entrar</a>
      <a routerLink="/contato">Contato</a>
      <a routerLink="/sobre">Sobre</a>
    </nav>
    } @else if (usuario()) {
    <nav>
      <span>Bem-vindo(a) {{usuario()}}</span>
      <a routerLink="/carrinho"><img src="images/carrinho.svg" alt="Carrinho"></a>
      <a routerLink="/contato">Contato</a>
      <a routerLink="/sobre">Sobre</a>
      <a (click)="logout()">Sair</a>
    </nav>
    }

  </div>

  <div class="linha"></div>

  <div class="menu">
    <nav>
      <a routerLink="/">Todos os Produtos</a>
      <a routerLink="/categorias/monitores">Hardware</a>
      <a routerLink="/categorias/perifericos">Periféricos</a>
      <a routerLink="/categorias/monitores">Monitores</a>
      <a routerLink="/categorias/notebooks">Notebooks</a>
      <a routerLink="/categorias/mouses">Gamer</a>
      <a routerLink="/categorias/ofertas">Ofertas</a>
    </nav>
  </div>
  <div class="linha"></div>
</header>